@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Hair.eot');
	src: local('Fira Sans Hair'),
		 url('/fonts/eot/FiraSans-Hair.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Hair.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Hair.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-HairItalic.eot');
	src: local('Fira Sans Hair Italic'),
		 url('/fonts/eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-HairItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-HairItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-UltraLight.eot');
	src: local('Fira Sans UltraLight'),
		 url('/fonts/eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-UltraLight.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-UltraLightItalic.eot');
	src: local('Fira Sans UltraLight Italic'),
		 url('/fonts/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-UltraLightItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Light.eot');
	src: local('Fira Sans Light'),
		 url('/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Light.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-LightItalic.eot');
	src: local('Fira Sans Light Italic'),
		 url('/fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-LightItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Regular.eot');
	src: local('Fira Sans Regular'),
		 url('/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Regular.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-RegularItalic.eot');
	src: local('Fira Sans Regular Italic'),
		 url('/fonts/eot/FiraSans-RegularItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-RegularItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-RegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Medium.eot');
	src: local('Fira Sans Medium'),
		 url('/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Medium.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-MediumItalic.eot');
	src: local('Fira Sans Medium Italic'),
		 url('/fonts/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-MediumItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-SemiBold.eot');
	src: local('Fira Sans SemiBold'),
		 url('/fonts/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-SemiBold.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-SemiBoldItalic.eot');
	src: local('Fira Sans SemiBold Italic'),
		 url('/fonts/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-SemiBoldItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Bold.eot');
	src: local('Fira Sans Bold'),
		 url('/fonts/eot/FiraSans-Bold.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Bold.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-BoldItalic.eot');
	src: local('Fira Sans Bold Italic'),
		 url('/fonts/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-BoldItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-ExtraBold.eot');
	src: local('Fira Sans ExtraBold'),
		 url('/fonts/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-ExtraBold.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-ExtraBoldItalic.eot');
	src: local('Fira Sans ExtraBold Italic'),
		 url('/fonts/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-Heavy.eot');
	src: local('Fira Sans Heavy'),
		 url('/fonts/eot/FiraSans-Heavy.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-Heavy.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Sans';
	src: url('/fonts/eot/FiraSans-HeavyItalic.eot');
	src: local('Fira Sans Heavy Italic'),
		 url('/fonts/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraSans-HeavyItalic.woff') format('woff'),
		 url('/fonts/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}


@font-face{
	font-family: 'Fira Mono';
	src: url('/fonts/eot/FiraMono-Regular.eot');
	src: local('Fira Mono'),
		 url('/fonts/eot/FiraMono-Regular.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraMono-Regular.woff') format('woff'),
		 url('/fonts/ttf/FiraMono-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Fira Mono';
	src: url('/fonts/eot/FiraMono-Bold.eot');
	src: local('Fira Mono Bold'),
		 url('/fonts/eot/FiraMono-Bold.eot') format('embedded-opentype'),
		 url('/fonts/woff/FiraMono-Bold.woff') format('woff'),
		 url('/fonts/ttf/FiraMono-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}


html, body {
	margin:0;
	padding:0;
	/*line-height:1em;*/
	font-size:16px;
	font-family: 'Fira Sans',Calibri,Arial;
	height:100%;
}
h1,h2,ol,li,menu{
	margin:0;
	padding:0;
	list-style:none;
}
a {
	color:#484848;
	text-decoration:none;
}
a:hover {
	color:black;
	text-decoration:underline;
}
p {
	margin:0;
}
.c-Nav-Outer {
	float:left;
	width:200px;
	background:white;
	position:fixed;
	font-size:12px;
	height:100%;
}
.c-Nav {
	border-right:1px solid rgba(0,0,0,0.2);
	height:100%;
}
main {
	margin-left:200px;
	background:#E7F1FB;
}
pre {
	margin:0;
}
.c-Nav-Outer h2 {
	padding:25px;
	font-weight:300;
}
.c-Nav menu li {
	float:left;
	clear:both;
	width:100%;
}
.c-Nav menu a {
	padding:5px 0 5px 25px;
	line-height:20px;
	display:block;
}
.c-Nav menu a:hover,
.c-Nav menu .u-Active {
	color:white;
	font-weight:400;
	text-decoration:none;
	background: rgb(122,188,255);
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -o-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: -ms-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
	-webkit-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
	-khtml-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
	-moz-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
	-ms-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
	-o-text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.45);
}
article h1 {
	padding:25px;
}
article h2 {
	padding:55px 0 0 0;
	margin-bottom:15px;
	font-weight:400;
}
article h3 {
	padding:25px 0 0 0;
	margin-bottom:15px;
	font-weight:300;
	text-transform:uppercase;
	font-size:11px;
	margin:0;
}
.c-Section {
	/*height: 600px;*/
	overflow:hidden;
	background: #ffffff;
	background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #292e33 50%, #292e33 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(50%,#292e33), color-stop(100%,#292e33));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#292e33 50%,#292e33 100%);
	background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#292e33 50%,#292e33 100%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#292e33 50%,#292e33 100%);
	background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#292e33 50%,#292e33 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#292e33',GradientType=1 );
	position:relative;
	padding-bottom:25px;
}
.c-Code {
	float:right;
	width:50%;
	color:#dae4f2;
	padding-top:25px;
}
	.c-Code a {
		color:#80b2ff;
	}
	.c-Code a:hover {
		color:white;
		text-decoration:underline;
	}
	.c-Code:before {
		height:1px;
		background:rgba(255,255,255,0.2);
		display:block;
		clear:both;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		content:"";
	}
.c-Details {
	color:black;
	float:left;
	width:50%;
}
	.c-Details:before {
		height:1px;
		background:rgba(0,0,0,0.2);
		display:block;
		clear:both;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		content:"";
	}
.c-EndPoint{
	padding-top:25px;
}
.c-EndPoint a {
	color:#dae4f2;
	font-size:14px;
}
.c-RequestResponse:after {
	content:"";
	height:0;
	line-height:0;
	font-size:0;
	clear:both;
	display:block;
}
code {
	font-size:12px;
}
.c-Content {
	padding:0 25px;
}
.c-Details .c-Content p {
	line-height:1.5em;
	font-size:13px;
}
.c-Response-Menu {
	background:rgba(0,0,0,0.5);
	border:1px solid rgba(0,0,0,0.8);
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	line-height:32px;
	font-size:11px;
	text-transform:uppercase;
	overflow:hidden;
}
.c-Response-Menu menu {
	display:block;
}
.c-Response-Menu a {
	float:left;
	display:block;
	padding:0 15px;
	-webkit-text-shadow:0 1px 0px black;
	-khtml-text-shadow:0 1px 0px black;
	-moz-text-shadow:0 1px 0px black;
	-ms-text-shadow:0 1px 0px black;
	-o-text-shadow:0 1px 0px black;
	text-shadow:0 1px 0px black;
	background:rgba(255,255,255,0.03);
}
.c-Response-Menu a:hover,
.c-Response-Menu a.u-Selected {
	background:rgba(255,255,255,0.1);
	text-decoration:none;
}
.c-Response-200 {
	border-right:4px solid #34B27D;
}
.c-Response-406 {
	border-right:4px solid #CB4D4D;
}
.c-Response-JSON {
	display:none;
}
.u-Visible {
	display:block;
}
ul code {
	font-weight:bold;
	background:rgba(0,0,0,0.05);
	color:#80b2ff;
	line-height:2.8em;
	display:block;
	margin:0 0 5px 0;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 10px;
}
menu sup {
	font-size:0.8em;
	padding-left:5px;
	font-style:italic;
}
.c-Nav h3 {
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: 400;
    padding-left: 25px;
}
.c-Grid {
	background:#ebebeb;
}

pre code.hljs{overflow-x:auto;}